@charset "UTF-8";

.noto-serif-tc {
    font-family: "Noto Serif TC", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
* {
    font-family: "Noto Serif TC";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}
