@import url('banner.css');
@import url('base.css');
@import url('components.css');
@import url('layout.css');
@import url('navbar.css');
@import url('photo.css');
@import url('theme.css');
@import url('utilities.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@600&display=swap');

/* 大螢幕的橫向選單 */
@media (min-width: 769px) {
    main {
        font-size: 1.2em;
    }

    .navbar .menu {
        display: flex; /* 顯示橫向選單 */
        flex-direction: row; /* 選單項目排列為橫向 */
        justify-content: flex-end; /* 靠右對齊 */
        max-height: none; /* 移除高度限制 */
        padding: 10px;
    }

    .navbar .menu li {
        width: auto; /* 每個選項根據內容自適應寬度 */
        padding: 0 15px; /* 調整內距讓選單美觀 */
    }

    .navbar .menu-toggle {
        display: none; /* 大螢幕隱藏按鈕 */
    }
}

@media (max-width: 767px) {
    main {
        font-size: 0.9em;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar .menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .navbar .menu li {
        padding: 10px; /* 與選單一致的內距 */
    }

    .navbar .menu-toggle {
        display: block; /* 小螢幕顯示按鈕 */
    }

    main {
        padding: 0px;
    }

    .container {
        margin: 20px;
        padding: 50px 20px;
    }
}