:root {
    --primary-color: #1b6597;
    --secondary-color: #4D6473;
    --background-color: rgba(242, 235, 213, 20%);
}

a {
    color: var(--primary-color);
    font-size: 1em;
    text-align: center;
    transition: color 0.3s ease;
}

a:hover {
    color: #2fa3f0;
}


.end-of-paragraph::after
{
    content: "";
    display: block;
    height: 50px;
}

p::before, p::after
{
    content: "";
    display: block;
    height: 10px;
}

i {
    font-size: 2em;
    text-align: center;
    transition: color 0.3s ease;
}

i.ig{
    color: #C13584;
}

i.ig:hover{
    color: #eb52a9;
}

i.git{
    color: #181717;
}

i.git:hover{
    color: #0366d6;
}

.divider {
    border: 0;
    height: 2px;
    background: #aaa; /* 分隔線顏色 */
    margin: 20px 0;    /* 上下間距 */
}