/* 滾動條樣式 */
::-webkit-scrollbar {
    display: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(242, 235, 213, 20%);
}

/* 選取文字的反白樣式 */
::selection {
    background-color: rgba(27, 101, 151, 0.5);
    color: #ffffff;
}
